.container {
    .row{
        .col-6{
            #title{
            }
            #vglassesList{
                .col-4{
                    img{
                        display: block;
                        width: 100%;
                    }
                }
            }
        }
        .col-5{
            .vglasses__card{
                .vglasses__info{
                    h1{
                        font-size: 20px;
                    }
                    .pay{
                        button{
                            background: red;
                            color: #Fff;
                            border: none;
                            border-radius: 3px;
                        }
                        span{
                            margin-left: 10px;
                            color: green;
                        }
                    }
                    p{
                        margin-top: 15px;
                    }
                }
            }
        }
    }
}